<h2>Create Role</h2>
<form method="post">
    <input type="text" name="roleName" class="form-control" placeholder="Role Name" />
    <br />
    <button type="submit" class="btn btn-success">Create</button>
</form>
